
django==5.2.7
dj-database-url==3.0.1
gunicorn==23.0.0
django-jazzmin==3.0.1
django-browser-reload==1.21.0
deepface==0.0.95
opencv-python==4.12.0.88
mtcnn==1.0.0
tf-keras==2.20.1
retina-face==0.0.17
tensorflow==2.20.0
keras==3.11.3
numpy==2.2.6
pandas==2.3.3
tqdm==4.67.1
h5py==3.14.0
protobuf==6.32.1
absl-py==2.3.1
gdown==5.2.0
joblib==1.5.2
requests==2.32.5
Pillow==11.3.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
tzdata==2025.2
